

/* Search Bar */
.custom-search {
    border-radius: 20px; /* Adjust the value as needed */
    color: #001573;
    font-family: 'Roboto', sans-serif;
    height: 40px;
    width: 1100px;
    
}

.custombg-image-row {
    background-image: url('../images/BG.png'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire area of the row */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100vw;
    object-fit: contain;
}
.customPic {
    width: 100%;
    height: 12vw;
    object-fit: contain;
    

}

.mainContent {
    align-items: center;
    
}



.customHome{
    background-color: #283971;
    color:aliceblue;
    border-radius: 20px;
    font-weight: bold;   
    
}

.customNavbar{
    background-color: #283971;
    color:aliceblue;
    white-space: nowrap;
}

.customSidebar{
    background-color: #283971;
}




.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    background-color: #f5f5f5;
}


.XULOGO{
    width: 10px;
    height: 10px;

}

.customfont{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    color:#3A53A5;
    border-color: aqua;
    font-weight: bold;
}

.customSidebar{
    width: 60%;
}

.nav-link {
    margin-right: 20px; /* Adjust the value as needed for spacing */
}
.btn_custombtns {
    font-size: 30px;
}

